<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Baseball!</title>
      <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <h1 align="center">Project 2</h1>
  <h1 align="center">Baseball</h1>
  <h3 align="center">Gabby, Charlie, Clark, and John</h3>
  <body>
    <div class="my-background">
      <img src="https://stmed.net/sites/default/files/baseball-wallpapers-30924-9021151.jpg">
    </div>
    <div id="people"></div>
    <div id="batter"></div>
    <div id="attendance"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/app.js"></script>
  </body>

</html>
